.hero {
  width: 100vw;
  height: 100vh;
  background: #191919;
  margin: 0; 
  color: #fff;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gallery-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.gallery {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
}

.gallery-group {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 10px;
  flex: none;
  opacity: 0;
}

.gallery-group.active {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.gallery-group:first-child {
  opacity: 1;
}

.gallery-group span {
  display: flex;
  justify-content: center;
}

.gallery-group img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: transform 0.5s;
}

.gallery-group img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}

.gallery-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.gallery-buttons img {
  width: 50px;
  height: 50px;
}

#backBtn,
#frontBtn {
  cursor: pointer;
  display: block;
}

.gallery-wrapper:hover #backBtn {
  display: block;
}

.gallery-wrapper:hover #frontBtn {
  display: block;
}